.home {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.joinRoomForm {
	max-width: 100%;
	width: 400px;
	display: flex;
	flex-direction: column;
	> * {
		margin-bottom: 1rem;
	}
	> *:last-child {
		margin-bottom: 0rem;
	}

	> input,
	.submit > button {
		font-size: 1.2rem;
		height: 4rem;
		padding: 1rem 2rem;
		box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
	}

	> input:hover,
	.submit > button:hover {
		box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
	}

	> input[name="roomId"] {
		text-transform: uppercase;
	}

	.submit {
		> button {
			width: 100%;
			background-color: var(--bg-3);
			color: var(--fg-3);
			transition: background-color 0.2s ease-in-out;
		}
	}
	.submit.disabled {
		> button {
			background-color: var(--bg-3-faded);
		}
		&:hover {
			box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
		}
		pointer-events: none;
	}
}
